/* &display=swap */
@import "null.css";

 @import url("https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700,700italic,900,900italic");
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	
}
body{
background: #F5F5F5;
}
/* ================================================================*/

[class*="__container"] {
	margin: 0px auto;
	max-width: 1024px;
}

.header{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
background: url("../img/logo/image.jpg")0 0/cover no-repeat;
min-height: 800px;

}

.header__logoipsum {
	padding: 30px 0px 30px 0px;
	display:flex;
	color: #ffff;
	font-weight: 700;

}
.header__content_margin{
	margin: 0px 0px 127px 0px;
}
.header__logo {
	margin: 0px 236px 0px 0px;
}
.header__list_time,.header__list_phone{
font-weight: 700;
font-size: 12px;
line-height:1.8;
letter-spacing: 0.15px;
}
.header__list_time {
	margin: 0px 35px 0px 0px;
}

.header__item{
	margin: 0px 0px 0px 40px;
}
.header__list_phone,.header__list_time{
	position: relative;
}
.header__time::before{
background: url("../img/logo/time.svg")0 0/ 24px no-repeat;
display:block;
content: "";
width: 24px;
height: 24px;
margin: 2px 0px 0px 2px;
position: absolute;
top: -5px;
left: -40px;
}

.header__call::before{
background: url("../img/logo/phone.svg")0 0/ 24px no-repeat;
display:block;
content: "";
width: 24px;
height: 24px;
margin: 2px 0px 0px 2px;
position: absolute;
top: -5px;
left: -40px;
	
}
.button {
	display: inline-flex;
	border-radius:3px;
	background:#F2726F;
	color: #ffff;
	padding:10px 40px 10px 40px;
	font-size: 12px;
   line-height: 2;
   align-items: center;
   text-align: center;
   letter-spacing: 0.15px;
   text-transform: uppercase;

}
.button_margin{
margin: 0px 0px 0px 90px;
}
.header__menu{
	display: flex;
	background: #ffff;
	max-width: 100%;
	padding: 15px 424px 15px 0px;
	border-radius:5px;
	position: relative;
}

.header__item_decor::after{
background: url("../img/logo/more.svg")0 0/ 16px no-repeat;
display: inline-block;
content: "";
width: 16px;
height: 16px;
margin: 2px 0px 0px 2px;

}
.header__menu, .header__item {
display: inline-flex;
font-weight: 700;
font-size: 14px;
line-height:1.5;
align-items: center;
text-align: center;
letter-spacing: 0.15px;
color: #000000;
}

.header__shopping{
	position: absolute;
	right: 30px;
	top: 15px;
}
.header__shop{
background: #F2726F;
border-radius: 50%;
width: 16px;
height: 16px;
position: absolute;
right: 23px;
top: 11px;
color: #ffff;
font-weight: 500;
font-size: 10px;
align-items: center;
text-align: center;
letter-spacing: 0.15px;
}

.header__search{
	position: absolute;
	right: 80px;
	top: 15px;
}
.header__item:hover{
	background-color: rgba(169, 169, 169, 0.3);
	color:indigo;
}

.header__title {
max-width: 583px;
max-height: 112px;
font-weight: 900;
font-size: 56px;
line-height:1;
color: #FFFFFF;
}
.header__title_margin{
	margin: 0px 0px 50px 0px;
}
.button_bottom{
margin: 0;
}
.button:hover{
background: #000000a3;
box-shadow: 2px 2px 2px 2px #e9e2e290;
}
.main {
}
.who-we-are {
color: #F5F5F5;
margin: -120px 0px 0px 0px;

}

.who-we-are__container::before{
display: inline-block;
content: "";
width: 201px;
height: 317px;
background: url("../img/main/stylizecircles.svg")0 0 no-repeat;
position: absolute;
top: -109px;
right:-80px;


}

.who-we-are__container {
background: #5D62B5;
border-radius: 40px;
padding: 100px 90px 0px 90px;
position: relative;
}
.who-we-are__sub-title {
font-weight: 700;
font-size: 12px;
line-height: 2;
letter-spacing: 2.5px;
text-transform: uppercase;
min-height: 17px;

}

.who-we-are__sub-title::before{
	display: inline-block;
	content: "";
	width: 17px;
	height: 17px;
	background: url("../img/main/overlinemark.svg")0 0/17px no-repeat;
    position: relative;
   top:5px;
   left: 0;
}
.who-we-are__sub-title_margin{
	margin: 0px 0px 33px 0px;
}

.who-we-are__title_margin{
	margin: 0px 0px 36px 0px;
}
.who-we-are__title {
font-weight: 900;
font-size: 36px;
line-height:1.17;
color: #FFFFFF;
max-width: 583px;
}
.who-we-are__text {
font-weight: 400;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.15px;

}
.who-we-are__image {
	position: relative;
	bottom: -150px;
	left: 0;
}

.who-we-are__picture{
width: 100%;
}

.who-we-are__image_margin{/*этот отступ под вопросом*/
	margin: 0px 0px 170px 0px;
}
.our-promise {
	padding: 0px 0px 100px 0px;
}
.our-promise__container {
}

.our-promise__sub-title {
font-weight: 700;
font-size: 12px;
line-height: 2;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #5D62B5 ;
min-height: 17px;
padding: 0px 0px 0px 33px;
}
.our-promise__sub-title::before{
display: inline-block;
content: "";
width: 17px;
height: 17px;
background: url("../img//promise/promisititl.svg") 0 0/17px no-repeat;
position: relative;
top:5px;
left: 0;
}
.our-promise__sub-title_margin{
	margin: 0px 0px 37px 0px;
}
.our-promise__title_margin{
margin: 0px 0px 50px 0px;
}
.our-promise__title {
font-weight: 900;
font-size: 36px;
line-height:1.17;
color: #000000;
padding: 0px 0px 0px 33px;
}
.block-row {
}
.column-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}
.block-row__column{
	margin: 0 -12px;
	padding:0 12px
}

.block-row__card {
	flex:1 1 33.333%;
	display: flex;
	padding:0 12px
}
.block-row__image {
	margin-right: 23px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.block-row__picture {
	flex: 0 0 63px;
}
.block-row__title {
font-weight: 900;
font-size: 19px;
line-height:1.37;
color: #F2726F;

}

.block-row__title_margin{
	margin: 0px 0px 24px 0px;
}
.block-row__text {
font-weight: 400;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.15px;
color: #4B4B4B;
}
.block-row__body{
	max-width: 235px;
}

.block-nemo {
	position: relative;
	background:#29C3BE;
	max-height: 500px;
	 margin: 0px 0px 110px 0px;
	 padding: 50px 0px 50px 0px;
	 overflow: hidden;
}

.block-nemo__body {
	display: flex;
	
}
.block-nemo__body::before{
	display: inline-block;
	content: "";
	width: 473px;
	height:349px;
    background: url("../img/nemo/nemoblog.svg")0 0/349px 473px no-repeat;
	position: absolute;
	top: -105px;
	left:0;
	z-index: 1;
	
}

.block-nemo__line{
	position: absolute;
	top:0;
	right:90px;
}

.block-nemo__pup {
	position: relative;
	bottom:6px;
	left:-180px;
	z-index: 2;
	
}
.block-nemo__text {
position: absolute;
top:110px;
right:167px;
max-width:411px;
font-weight: 900;
font-size: 36px;
line-height:1.17;
color: #FFFFFF;
z-index: 1;
}

.button_link {
	position: absolute;
	bottom:160px;
	right:350px;
	z-index:1;
}
.block-nemo__ball {
	position: absolute;
	top:120px;
	right:43px;
	z-index: 1;
}
.block-nemo__cirgul {
	position: absolute;
	bottom:60px;
	left: 0;
}

.our-services {
	padding: 110px 0px 110px 0px;
}
.our-services__container {
}
.our-services__sub-title {
font-weight: 700;
font-size: 12px;
line-height: 2;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #5D62B5;
min-height: 17px;
padding: 0px 0px 0px 20px;
}

.our-services__sub-title::before{
background: url("../img/ourservices/logo.svg")0 0 /17px no-repeat;
content: "";
display: inline-block ;
width: 17px;
height: 17px;
position: relative;
top:5px;
left: 0;
}
.our-services__sub-title__margin {
	margin: 0px 0px 33px 0px;
}
.our-services__title__margin {
	margin: 0px 0px 36px 0px;
}
.our-services__title {
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #000000;
padding: 0px 0px 0px 20px;
}
.our-services__body {

}
.our-services__column {
	 display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}
.our-services__card {
	flex:1 1 30.333%;
	text-align: center;
	align-items: center;
	justify-content: center;
    border: 1px solid #d1cdcd1e;
	padding: 50px 44px 50px 44px;
	border-radius: 20px;
	min-height: 340px;
	background: #FFFFFF;
		
}
.our-services__card:hover{
		box-shadow: 0px 16px 24px 0px #26262633;
}

.our-services__card_margin{
	margin:0px 12px;
}
.our-services__picture {
	flex: 0 0 63px;
}
.our-services__content{


}


.our-services__info {
font-weight: 900;
font-size: 19px;
line-height:1.37;
color: #F2726F;
}
.our-services__text {
font-weight: 400;
font-size: 16px;
line-height:1.50;
text-align: center;
letter-spacing: 0.15px;
color: #4B4B4B;

}
.button_smail{
	border-radius: 8px;
	padding: 10px 25px 10px 25px;
	position: relative;
	top: 66px;
	left: 450px;
}